<div class="ui fixed inverted menu">
  <div class="ui container">
    <a href="/" class="header item">Safe Path Recommender</a>

    <div class="right menu">
      <a href="/login" class="item">Login</a>
      <a href="/signup" class="item">Sign Up</a>
    </div>
  </div>
</div>
